<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<table>
    <tr>
        <td>
            <p>Hello, <span th:text="${username}"></span>!</p>
            <p>Click the button below to reset your password:</p>
            <a th:href="@{${link}}" style="color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background-color: #f1556c; margin: 0; border: solid 8px #f1556c;">
                <span th:text="${buttonValue}">Reset Password</span>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
